<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProfile name="test,pre,prod">
        <springProperty scope="context" name="PROJECT_NAME" source="project.name" defaultValue="spring"/>
        <springProperty scope="local" name="NODE_ID" source="node.id" defaultValue="0"/>
        <property name="LOG_FILE"
                  value="${LOG_FILE:-${LOG_PATH:-/usr/app/logs}/${PROJECT_NAME}-${NODE_ID}.log}"/>

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <file>${LOG_FILE}</file>
            <append>false</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                <maxHistory>3</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
            </rollingPolicy>
        </appender>

        <logger name="com.adzuki.worker">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>

    <springProfile name="dev">
        <logger name="com.adzuki.worker" level="DEBUG" />
        <logger name="org.mybatis" level="DEBUG" />
        <logger name="tk.mybatis" level="DEBUG" />
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>