<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<title>DIV模版</title>
	<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>	
	<link rel="stylesheet" th:href="@{/resources/dist/css/skins/_all-skins.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/AdminLTE.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/ionicons.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/e7/e7table/e7table-0.2.css}"/>
	<link rel="stylesheet" th:href="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css}"/>
</head>

<body>
	<!-- Main content -->
	<section id="sec_main" class="content">
		<!-- 条件查询 -->
		<div class="box box-info">
<!-- 			<div class="box-header with-border">
				<h3 class="box-title">
					条件查询
				</h3>
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
			</div> -->
			<div class="box-body" style="padding-bottom:0px;">
				<form id="frm_query" class="form-horizontal">	
					<div id="div_criteria" class="flowlayout" layout:fragment="query_form"></div>
				</form>
			</div>
			<div id="div_buttons" class="box-footer">
                <button class="btn btn-default pull-right" onclick="javascript:reset()">重置</button>
				<button class="btn btn-primary pull-right" onclick="javascript:query()" style="margin-right:15px;">查询</button>
			</div>
		</div>
		
		<!-- 信息列表 -->
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
			<!-- 		<div class="box-header">
						<h3 class="box-title">信息预览</h3>
						<div class="box-tools">
							<button class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div> -->
					<!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table id="tbl_query" class="table table-hover"></table>
					</div>					
				</div>
			</div>
		</div>

	</section>
	<!-- /.content -->


	<!-- Modal 详情-->
	<div class="modal fade" id="mdl_detail" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"></h4>
				</div>
				<div class="modal-body">
					<form id="frm_detail" class="form-horizontal" >  
						<fieldset id='fld_detail'>
							<input name="id" type="hidden"/>	
							<div layout:fragment="detail_form"></div>			
						</fieldset>
					</form>
				</div>
				<!-- Loading (remove the following to stop the loading)-->
				<!-- end loading -->
				<div class="modal-footer">
					<button id="btn_save" type="button" class="btn btn-primary" onclick="javascript:save();">保存</button>
					<button id="btn_close" type="button" class="btn btn-default" onclick="javascript:hideDetail();">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<!-- /.content -->	
	 
	<script th:src="@{/resources/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	<script th:src="@{/resources/plugins/bootbox/bootbox.min.js}"></script>
	<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.js}"></script>
	<script th:src="@{/resources/dist/js/app.min.js}"></script>
	<script th:src="@{/resources/e7/e7util-0.2.js}"></script>
	<script th:src="@{/resources/e7/e7table/e7table-0.2.js}"></script>
	<script th:src="@{/resources/e7/e7crud-0.2.js}"></script>
	<script th:src="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.js}"></script>
	<script th:src="@{/resources/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/resources/plugins/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
	
	
	<footer th:inline="text" layout:fragment="footer"></footer>
	
	<script th:inline="javascript">	
		/*<![CDATA[*/
		$(function() {
			if(!pageSetting || !pageSetting.buttons || pageSetting.buttons.length == 0) return;
			
			for(var i=0; i < pageSetting.buttons.length; i++) {
				var button = pageSetting.buttons[i];
				$('#div_buttons').append(' <button class="btn ' + (button['class']?button['class']:'') + '" onclick="javascript:' + button['click'] +'();">' + button['text'] + '</button> ');
			}
		});

		
		/***
		 * 显示详情div
		 */
		function showDetail(title, editable){
			if(editable) {
				$('#fld_detail').prop('disabled', false);
				$('#btn_save').show();
			} else {
				$('#fld_detail').prop('disabled', true);
				$('#btn_save').hide();
			}
			
			$('#myModalLabel').text(title);
			$('#mdl_detail').modal('show');
		}
	
		/***
		 * 隐藏详情div
		 */
		function hideDetail(){
			$('#mdl_detail').modal('hide');
		}
		/*]]>*/
	</script>
</body>
</html>
